<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376874021684-8reqdm6frac9i2hqlp7kvmrq6nbe3rs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376874021684-8reqdm6frac9i2hqlp7kvmrq6nbe3rs7</string>
	<key>API_KEY</key>
	<string>AIzaSyCqhdmkMqRijk3emww2smd7Z_fNQTfPrC4</string>
	<key>GCM_SENDER_ID</key>
	<string>376874021684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagraphy</string>
	<key>PROJECT_ID</key>
	<string>project-insta-b3617</string>
	<key>STORAGE_BUCKET</key>
	<string>project-insta-b3617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376874021684:ios:0feb4c09c6720d7eaaab61</string>
	<key>DATABASE_URL</key>
	<string>https://project-insta-b3617.firebaseio.com</string>
</dict>
</plist>